<!--# Action Usual #-->
<div class="padding">
[#if ARCHIVE!="1"#]
<a href="#" class="btn btn-gold" onClick="ChangeForm(false,0);" data-toggle="modal" data-target="#track_info">
<i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_RECORD#>
</a>

<a href="?mode=update_statuses" class="btn btn-secondary" title="Refresh">
<i class="glyphicon glyphicon-refresh"></i> Refresh
</a>
<a href="?archive_switch=1" class="btn btn-secondary" title="Archive">
<i class="glyphicon glyphicon-inbox"></i> Archive
</a>
<label class="control-label update">Последнее обновление<br>[#LAST_UPDATE#]</label>
[#else#]
<a href="?archive_switch=0" class="btn btn-secondary" title="Back">
<i class="glyphicon glyphicon-arrow-left"></i> Back
</a>
[#endif#]
</div>
<script type="text/javascript">
	function ChangeForm(edit, id) {
		document.getElementById('form_title').innerHTML  = (edit) ? 'Edit track' : 'Add track';
		document.getElementById('mode').value = (edit) ? "edit_track":"add_track";
		document.getElementById('id').value = "0";
		if (edit)
		{
			var url="?track_info="+ id;
			$.ajax({  
				url: url,  
				cache: false,  
				success: function(json){  
				    var rec = JSON.parse(json)
					document.getElementById('id').value = rec['ID'];
					document.getElementById('name').value = rec['NAME'];  
					document.getElementById('track').value = rec['TRACK'];  
					document.getElementById('track_url').value = rec['TRACK_URL'];  
					document.getElementById('waitday').value = rec['WAIT_DAY'];  
					document.getElementById('description').value = rec['DESCRIPTION'];  
				}  
			});  

			//document.getElementById('name').value = "test";
		}
		else
		{
			document.getElementById('name').value = "";
			document.getElementById('track').value = "";
			document.getElementById('track_url').value = "";
			document.getElementById('waitday').value = "50";
			document.getElementById('description').value = "";
		}
	}
</script> 
	<div class="modal fade" id="track_info" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
		<!-- <div id="about" class="modal hide"> -->
		<div class="modal-dialog" style="left:auto;">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="form_title">Add track</h4>
				</div>
				<form action="?" method="post" enctype="multipart/form-data" name="frmEdit">
				<div class="modal-body">
					<!-- Name -->
					<div class="form-group">
						<label class="control-label">Name</label>
						<div class="controls"><input id="name" type="text" name="name" value="[#NAME#]" class="form-control input"></div>
					</div>
					<!-- Track -->
					<div class="form-group">
						<label class="control-label">Track number</label>
						<div class="controls"><input id="track" type="text" name="track" value="[#TRACK#]" class="form-control input"></div>
					</div>
					<!-- Track URL -->
					<div class="form-group">
						<label class="control-label">Track URL</label>
						<div class="controls"><input id="track_url" type="text" name="track_url" value="[#TRACK_URL#]" class="form-control input"></div>
					</div>
					<!-- Wait dispute -->
					<div class="form-group">
						<label class="control-label">Day to dispute</label>
						<div class="controls"><input id="waitday" type="text" name="waitday" value="[#WAIT_DAY#]" class="form-control input"></div>
					</div>
					<!-- Description -->
					<div class="form-group">
						<label class="control-label">Description</label>
						<div class="controls"><input id="description" type="text" name="description" value="[#DESCRIPTION#]" class="form-control input"></div>
					</div>
				</div>
				
				<div class="modal-footer">
					<button type="submit" name="subm" value="<#LANG_SUBMIT#>" class="btn btn-defaul btn-primary"><#LANG_SUBMIT#></button>
					<a href="#" class="btn btn-default" data-dismiss="modal"><#LANG_CANCEL#></a>
				</div>
				<input id="id" type="hidden" name="id" value="0">
				<input id="mode" type="hidden" name="mode" value="add_track">
				</form>
			</div>
		</div>
	</div>
<style type="text/css">
body {padding: 10px;}
.padding { padding: 10px 0 25px 0; }
.panel-heading{
  border:1px solid #ccc;
  padding:2px;
  margin:0;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-secondary:hover {
    color: #efefef;
}
.btn-gold {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}
.update {
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
	float: right;
    text-align: right;
}
* {font-size: 14px;}
.pointer {cursor: pointer;}
.gray {background-color: rgba(184, 194, 198, 0.30);}
.middle {vertical-align: middle !important;}
.badge {font-size: 11px;background-color: #795548;border-radius: 3px;}
</style>
 <!-- results -->
[#if RESULT#]
<form action="?" method="post" name="frmList_telegram" style="padding:0px" class="form">
<table class="table table-condensed" style="border-collapse:collapse;">
	<thead>
		<tr>
			<th><a href="?sortby_post=ID">#</a><nobr>
                [#if SORTBY="ID"#](+)[#endif#]
                [#if SORTBY="ID DESC"#](-)[#endif#]</nobr></th>
			<th><a href="?sortby_post=NAME">Name</a><nobr>
                [#if SORTBY="NAME"#](+)[#endif#]
                [#if SORTBY="NAME DESC"#](-)[#endif#]</nobr></th>
			<th>Статус</th>
			<th><a href="?sortby_post=LAST_DATE">Последнее обновление</a><nobr>
                [#if SORTBY="LAST_DATE"#](+)[#endif#]
                [#if SORTBY="LAST_DATE DESC"#](-)[#endif#]</nobr></th>
			<th></th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	[#begin RESULT#]
		<tr class="gray">
			<td data-toggle="collapse" data-target="#track[#ID#]" class="pointer accordion-toggle"><i class="glyphicon glyphicon-arrow-down"></i></td>
			<td data-toggle="collapse" data-target="#track[#ID#]" class="pointer accordion-toggle"><b>[#NAME#]</b></td>
			<td data-toggle="collapse" data-target="#track[#ID#]" class="pointer accordion-toggle">[#LAST_STATUS#]</td>
			<td  data-toggle="collapse" data-target="#track[#ID#]" class="pointer accordion-toggle">[#LAST_DATE#]</td>
			<td class="middle">[#if SENDING_DAY!=""#]
						<span class="label label-default">дней [#SENDING_DAY#] в пути</span>
					[#endif#]
					[#if DISPUTE_DAY!="" && ARCHIVE=="0"#]
						<span class="label label-[#DISPUTE_STATE#]">дней [#DISPUTE_DAY#] для спора</span>
					[#endif#]
					[#if ARCHIVE=="1"#]
					<span class="label label-warning">Archived</span>
					[#endif#]
		    </td>
			<td><div class="btn-group pull-right">
						<a href="?mode=switch_archive&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-default btn-sm" title="Archive">
							<i class="glyphicon glyphicon-inbox"></i>
						</a>
						<a href="?mode=update_statuses&id=[#ID#]" class="btn btn-default btn-sm" title="Update">
							<i class="glyphicon glyphicon-refresh"></i>
						</a>
						<a href="#" onClick="ChangeForm(true,[#ID#]);" class="btn btn-default btn-sm" title="Edit" data-toggle="modal" data-target="#track_info">
							<i class="glyphicon glyphicon-edit"></i>
						</a>
						<a href="?mode=del_track&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-default btn-sm" title="<#LANG_DELETE#>">
							<i class="glyphicon glyphicon-remove"></i>
						</a>
				</div></td>
		</tr>
		<tr>
			<td colspan="10" class="hiddenRow">
			<div class="accordian-body collapse" id="track[#ID#]"> 
				<div style="margin-bottom: 15px; margin-top: 10px;">
				[#if TRACK_URL!=""#]<a style="font-size: 14px; color: #00B7EB; text-decoration: none; font-weight: 600;" target="_blank" href="[#TRACK_URL#]">#[#TRACK#]</a>[#else if#]<span style="font-size: 15px; color: #8e3133;font-weight: 600;">[#TRACK#]</span>[#endif#]
				[#if DESCRIPTION!=""#]<span style="font-style: italic;font-size: 12px;"> — [#DESCRIPTION#]</span>[#endif#]
				</div>
				<table class="table-condensed" style="width: 70%;">
					<thead style="color: #8d3133;">
						<tr>
							<th>Date</th>
							<th>Status</th>
							<th>Location</th>
							<th>Provider</th>
                            <th>Удалить</th>
						</tr>
					</thead>
					<tbody>
					[#begin STATUSES#]
					<tr>
						<td style="width: 15%;"><span class="badge">[#DATE_STATUS#]</span></td>
						<td style=" width: 55%; ">[#STATUS_INFO#] </td>
						<td>[#if LOCATION!=""#]
							[#LOCATION#] [#LOCATION_ZIP#][#endif#]</td>
						<td>
						[#if PROVIDER==-1#]<img src="../templates/app_PostTracker/img/info.png" height="25px">&nbsp;Info[#endif#]
						[#if PROVIDER==0#]<img src="../templates/app_PostTracker/img/track24.png" height="25px">Track24[#endif#]
						[#if PROVIDER==1#]<img src="../templates/app_PostTracker/img/gdeposylka.png" height="25px">Gdeposylka[#endif#]
						[#if PROVIDER==2#]<img src="../templates/app_PostTracker/img/russianpost.png" height="25px">Russian Post[#endif#]
						[#if PROVIDER==3#]<img src="../templates/app_PostTracker/img/17track.png" height="25px">17 Track[#endif#]
						[#if PROVIDER==4#]<img src="../templates/app_PostTracker/img/moyaposylka.png" height="25px">Moyaposylka[#endif#]
						</td>
                        <td>
                            <a href="?mode=del_track_info&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-default btn-sm" title="Del track info">
							<i class="glyphicon glyphicon-remove"></i>
						</a>
						</td>
						
					</tr>
					[#end STATUSES#]
					</tbody>
				</table>
			</div> 
			</td>
        </tr>
	[#end RESULT#]
    </tbody>
	</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="[#VIEW_MODE#]">
</form>
<!-- / search results (list) -->
<!-- paging -->
[#if PAGES#]
<center>
	<ul class="pagination">
		[#begin PREVPAGE#]<li><a href="?tab=<#TAB#>&view_mode=<#VIEW_MODE#>&mode=<#MODE#>&page=[#NUM#]">&laquo;</a></li>[#end PREVPAGE#]
		[#begin PAGES#]
		<li [#if SELECTED#]class="active"[#endif#]><a href="?tab=<#TAB#>&view_mode=<#VIEW_MODE#>&mode=<#MODE#>&page=[#NUM#]">[#NUM#]</a></li>
		[#end PAGES#]
		[#begin NEXTPAGE#]<li><a href="?tab=<#TAB#>&view_mode=<#VIEW_MODE#>&mode=<#MODE#>&page=[#NUM#]">&raquo;</a></li>[#end NEXTPAGE#]
	</ul>
</center>
[#endif PAGES#]
<!-- / paging -->
[#else RESULT#]
<p>
<div class="alert alert-danger"><#LANG_NO_RECORDS_FOUND#></div>
</p>
[#endif RESULT#]
<!-- / results -->	
